#giftregistry {
   background-repeat: no-repeat;
   background-size: cover;
}
#giftregistry .events-boxs {
   background-color: rgba(116, 123, 169, 0.8);
   padding: 50px 30px;
}
.section-title-lg.desc {
   margin-bottom: 50px;
}
.section-desc {
   color: var(--white);
   line-height: 1.6;
}
.section-title-lg {
   float: none;
   text-align: center;
   margin: 0 auto 70px;
   position: relative;
   font-size: 62pt;
   font-family: 'Marmelad', sans-serif;
   line-height: 70pt;
}
