#menu-access {
   position: fixed;
   bottom: 226px;
   right: 50px;
   width: 40px;
   height: 40px;
   z-index: 1039;
}

.btn-menu-open,
.btn-menu-close {
   cursor: pointer;
   width: 0px;
   height: 0px;
   border-radius: 50%;
   background-color: #df4758;
   transition: all 2s ease-in;
   position: relative;
   bottom: -156px;
   transition: opacity 0.3s;
   opacity: 0;
   visibility: hidden;
}
.btn-menu-close:active,
.btn-menu-open:active {
   transform: scale(0.7);
}
.btn-menu-open.active,
.btn-menu-close.active {
   opacity: 1;
   visibility: visible;
   width: 40px;
   height: 40px;
}
.list-menu-icon li {
   transition: all 0.5s;
}
.list-menu-icon li:active {
   transform: scale(0.7);
}
.btn-menu-open > svg,
.btn-menu-close > svg {
   padding-top: 5px;
   padding-left: 6px;
   height: 33px;
   width: auto;
   color: #fff;
}
.list-menu-icon {
   opacity: 1;
   transition: all 0.3s ease-in-out;
   list-style: none;
   position: absolute;
   bottom: -116px;
   user-select: none;
}
.list-menu-icon.hide {
   opacity: 0;
   transition: all 0.5s ease-in-out;
}

#menu-access > ul > li {
   background-color: #df4758;
   border-radius: 50%;
   width: 42px;
   height: 42px;
   margin-bottom: 10px;
}

.content-button {
   position: relative;
   top: 3px;
}
img.access-icon {
   height: 25px;
   width: auto;
   margin-top: 4px;
}
.btn-menu-open::after,
.btn-menu-close::after {
   position: absolute;
   display: block;
   content: '';
   border-radius: 50%;
   background-color: rgba(242, 59, 67, 0.3);
   width: 120%;
   height: 120%;
   left: -10%;
   top: -10%;
   animation: biilogo-pulse 1s infinite;
   z-index: -1;
}

.bs-tooltip-start .tooltip-arrow::before {
   border-left-color: transparent;
}
.tooltip-inner {
   background-color: transparent;
}
.list-menu-icon li.shake {
   animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1;
   animation-delay: 0s;
}

@keyframes shake {
   10%,
   90% {
      transform: translate3d(-1px, 0, 0);
   }
   20%,
   80% {
      transform: translate3d(2px, 0, 0);
   }
   30%,
   50%,
   70% {
      transform: translate3d(-4px, 0, 0);
   }
   40%,
   60% {
      transform: translate3d(4px, 0, 0);
   }
}

@media (max-width: 799px) {
   #menu-access {
      bottom: 186px;
      right: 12px;
   }
}
