#rsvp {
   overflow: hidden;
}
.extra-padding-section {
   padding: 250px 0;
}
#rsvp.section-bg-color {
   background: linear-gradient(#f9f9f9 50%, #747ba9 50%) no-repeat;
}

#rsvp::before {
   content: '';
   position: absolute;
   left: 0;
   top: 50%;
   z-index: -1;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 210px 100vw 0 0;
   border-color: #fff transparent transparent transparent;
   margin-top: -1px;
}

#rsvp.section-bg-color::before {
   border-color: #f9f9f9 transparent transparent transparent;
}

.form-wrapper.neela-style {
   --offset: 11px;
   --border-size: 1px;
   border: 42px solid #fff;
}

.form-wrapper {
   position: relative;
   padding: 40px 60px;
   margin-bottom: 40px;
   background: #fff;
   -webkit-box-shadow: 0 0 25px 10px rgba(100, 100, 100, 0.14);
   -moz-box-shadow: 0 0 25px 10px rgba(100, 100, 100, 0.14);
   box-shadow: 0 0 25px 10px rgba(100, 100, 100, 0.14);
}

.form-wrapper.flowers::after,
.form-wrapper.flowers::before {
   content: '';
   width: 857px;
   height: 585px;
   position: absolute;
   top: -240px;
   right: -45px;
   z-index: -1;
   background-position: center center;
   background-image: url('https://preview.iwedding.info/templates/template19/images/flower-large.svg');
   background-repeat: no-repeat;
}

.form-wrapper.flowers::after {
   top: auto;
   right: auto;
   bottom: -240px;
   left: -45px;
   transform: rotate(180deg);
   opacity: 0.4;
}

@media (max-width: 480px) {
   .form-wrapper.neela-style {
      border-width: 22px;
   }
}
