@import '~normalize.css/normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Oooh+Baby&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
   --white: #fff;
   --black: #000;
   --primary: #747ba9;
   --icon: #df4758;
   --text-black: #73777b;

   --font-primary: 'Open Sans', sans-serif;
   --font-title: 'Marmelad', cursive;

   /* --border-size: 1px; */
}

body {
   font-family: var(--font-primary);
   font-size: 16px;
   line-height: 1.2;
}
h1,
h2,
h3,
h4 {
   font-family: var(--font-title);
   line-height: 1.2;
   font-weight: 500;
   margin: 0;
}

h1 {
   font-size: 56px;
}
h2 {
   font-size: 48px;
}
h3 {
   font-size: 40px;
}
h4 {
   font-size: 28px;
}

a {
   text-decoration: none;
   color: var(--black);
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
section {
   position: relative;
   padding: 70px 0;
   z-index: 0;
   background-color: var(--white);
}
img {
   max-width: 100%;
   vertical-align: middle;
   border: 0 none;
}
.visible {
   visibility: visible !important;
}
.d-block {
   display: block;
}

.h-lines {
   --vertical-offset: calc(var(--offset) * -1);
   border-top: var(--border-size) solid currentcolor;
   border-bottom: var(--border-size) solid currentcolor;
   top: calc(var(--border-size) * -1);
   bottom: calc(var(--border-size) * -1);
}
.h-lines::before {
   top: calc(var(--vertical-offset) - var(--border-size));
   bottom: calc(var(--vertical-offset) - var(--border-size));
   left: calc(var(--offset));
   right: calc(var(--offset));
}

.v-lines {
   --horizontal-offset: calc(var(--offset) * -1);
   border-left: var(--border-size) solid currentcolor;
   border-right: var(--border-size) solid currentcolor;
   right: calc(var(--border-size) * -1);
   left: calc(var(--border-size) * -1);
}
.v-lines::before {
   top: calc(var(--offset));
   bottom: calc(var(--offset));
   left: calc(var(--horizontal-offset) - var(--border-size));
   right: calc(var(--horizontal-offset) - var(--border-size));
}
.h-lines::before,
.v-lines::before {
   content: '';
   position: absolute;
   border: inherit;
}

.h-lines,
.v-lines {
   position: absolute;
   top: var(--horizontal-offset, -1px);
   right: var(--vertical-offset, -1px);
   bottom: var(--horizontal-offset, -1px);
   left: var(--vertical-offset, -1px);
   transition: transform 0.8s ease;
   will-change: transform;
   z-index: 0;
}
